// Глобальные стили

body {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: 14px;
  color: #000;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

::-webkit-input-placeholder {
  color: #9d9d9d;
}

::-moz-placeholder {
  color: #9d9d9d;
}

:-moz-placeholder {
  color: #9d9d9d;
}

:-ms-input-placeholder {
  color: #9d9d9d;
}

// @media (min-width: 1300px) {
//   .container {
//     max-width: 1290px;
//   }
// }

// @media (min-width: 1200px) {
//   .container {
//     max-width: 1170px;
//   }
// }

// @media (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
// }

/* fix footer */

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

/* /fix footer */

/* preloader */

#page-preloader {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
}

.spinner {
  margin: auto;
  width: 70px;
  text-align: center;
}

.spinner>div {
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* /preloader */

/* bootstrap hack: fix content width inside hidden tabs */

.tab-content>.tab-pane,
.pill-content>.pill-pane {
  display: block;
  height: 0;
  overflow: hidden;
}

.tab-content>.active,
.pill-content>.active {
  height: auto;
}

/* bootstrap hack end */

/* btn */

.btn-main {
  color: #fff;
  background-color: red;
  border-color: red;
  height: 50px;
  line-height: 36px;
  &:hover,
  &:focus {
    // background-color: redhover;
    // border-color: redhover;
    color: #fff;
  }
}

/* /btn */

/* custom select */

.select-list-js {
  position: absolute;
  z-index: 15;
  top: calc(100% + 6px);
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  li {
    text-align: center;
    &:hover {
      background: #f0f5f5;
      color: red;
      a {
        color: red;
        font-weight: bold;
      }
    }
  }
  a {
    color: black;
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
  }
}

.lang-list {
  width: 70px;
  left: -25px;
  a {
    line-height: 35px;
  }
}

.select-js {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-right: 8px;
  .icon-chevron-down {
    font-size: 9px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    &.rotate {
      transform: translate(0, -50%) rotate(180deg);
    }
  }
}

/* /customselect */

.input-wrap {
  position: relative;
}

*:focus {
  outline: none !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"] {
  box-shadow: none;
  -webkit-appearance: none;
  border: 0;
}

input.error {
  border: 1px solid $error;
}

.help-block.form-error {
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: 12px;
  color: $error;
  z-index: 1;
}

svg {
  pointer-events: none;
}

/* owl */

/* gradient */
// &:after {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 30px;
//   pointer-events: none;
//   z-index: 1;
//   background: linear-gradient( to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
// }
/* /gradient */

button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #dfdfdf;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background: red;
}

.owl-prev {
  position: relative;
  width: 38px;
  height: 38px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  &::after {
    content: "<";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  span {
    display: none;
  }
}

.owl-next {
  position: relative;
  width: 38px;
  height: 38px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
  &::after {
    content: ">";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  span {
    display: none;
  }
}

/* /owl */

/* inputs */
.radio-label {
  position: relative;
}

.input-group {
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: flex;
  margin: 0;
  align-items: center;
  cursor: pointer;
  position: relative;
}

input[type="radio"] + label:before {
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 10px;
}

input[type="radio"]:checked + label:after {
  content: '';
  background: red;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  left: 4px;
  top: 5px;
}

input[type="checkbox"] + label:before {
  content: '';
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
  display: block;
  margin-right: 10px;
}

input[type="checkbox"]:checked + label:before {
  background: red url(../img/checkbox.svg) center no-repeat;
  background-size: 11px 8px;
  border-color: red;
}
/* /inputs*/