// Сетка 

$col-count: 12 !default;
$grid-gutter: 30px !default;
$sm: 425px !default;
$md: 769px !default;
$lg: 1025px !default;
$xlg: 1440px !default;
// $container-sizes: ("small": 768px,
// "large": 1440px) !default;

@mixin breakpoint-min($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin breakpoint-max($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin breakpoint-min-max($bp1, $bp2) {
  @media (min-width: $bp1) and (max-width: $bp2) {
    @content;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: $grid-gutter / 2;
  padding-left: $grid-gutter / 2;
}

// @each $name,
// $size in $container-sizes {
//   .container-#{$name} {
//     max-width: $size;
//   }
// }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -$grid-gutter / 2;
  margin-left: -$grid-gutter / 2;

  &.row-reverse {
    flex-direction: row-reverse;
  }
}

.col {
  position: relative;
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;

  &.col-reverse {
    flex-direction: column-reverse;
  }
}

@for $i from 1 through $col-count {
  .col-xs-#{$i} {
    flex-basis: ($i / $col-count) * 100%;
    max-width: ($i / $col-count) * 100%;
  }
}

@for $i from 1 through $col-count {
  .col-xs-offset-#{$i} {
    margin-left: ($i / $col-count) * 100%;
  }
}

@include breakpoint-min($sm) {
  @for $i from 1 through $col-count {
    .col-sm-#{$i} {
      flex-basis: ($i / $col-count) * 100%;
      max-width: ($i / $col-count) * 100%;
    }
  }

  @for $i from 1 through $col-count {
    .col-sm-offset-#{$i} {
      margin-left: ($i / $col-count) * 100%;
    }
  }
}

@include breakpoint-min($md) {
  @for $i from 1 through $col-count {
    .col-md-#{$i} {
      flex-basis: ($i / $col-count) * 100%;
      max-width: ($i / $col-count) * 100%;
    }
  }

  @for $i from 1 through $col-count {
    .col-md-offset-#{$i} {
      margin-left: ($i / $col-count) * 100%;
    }
  }
}

@include breakpoint-min($lg) {
  @for $i from 1 through $col-count {
    .col-lg-#{$i} {
      flex-basis: ($i / $col-count) * 100%;
      max-width: ($i / $col-count) * 100%;
    }
  }

  @for $i from 1 through $col-count {
    .col-lg-offset-#{$i} {
      margin-left: ($i / $col-count) * 100%;
    }
  }
}

@include breakpoint-min($xl) {
  @for $i from 1 through $col-count {
    .col-xlg-#{$i} {
      flex-basis: ($i / $col-count) * 100%;
      max-width: ($i / $col-count) * 100%;
    }
  }

  @for $i from 1 through $col-count {
    .col-xlg-offset-#{$i} {
      margin-left: ($i / $col-count) * 100%;
    }
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  &>.col,
  &>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}