// Сетка 

$container-max-width: 1170px !default;
$col-count: 12 !default;
$grid-gutter: 30px !default;
$sm: 425px !default;
$md: 769px !default;
$lg: 1025px !default;
$xl: 1440px !default;

@mixin breakpoint-min($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin breakpoint-max($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin breakpoint-min-max($bp1, $bp2) {
  @media (min-width: $bp1) and (max-width: $bp2) {
    @content;
  }
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-right: $grid-gutter / 2;
  padding-left: $grid-gutter / 2;
}

.container-fluid {
  width: 100%;
  padding-right: $grid-gutter / 2;
  padding-left: $grid-gutter / 2;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -$grid-gutter / 2;
  margin-left: -$grid-gutter / 2;

  &.row-reverse {
    flex-direction: row-reverse;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  &>.col,
  &>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

[class^=col-] {
  position: relative;
  width: 100%;
  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;
}

.col {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;

  &.col-reverse {
    flex-direction: column-reverse;
  }
}

@include breakpoint-min($sm) {
  @for $i from 1 through $col-count {
    .col-sm-#{$i} {
      flex: 0 0 ($i / $col-count) * 100%;
      max-width: ($i / $col-count) * 100%;
    }
  }

  @for $i from 1 through $col-count {
    .col-sm-offset-#{$i} {
      margin-left: ($i / $col-count) * 100%;
    }
  }
}

@include breakpoint-min($md) {
  @for $i from 1 through $col-count {
    .col-md-#{$i} {
      flex: 0 0 ($i / $col-count) * 100%;
      max-width: ($i / $col-count) * 100%;
    }
  }

  @for $i from 1 through $col-count {
    .col-md-offset-#{$i} {
      margin-left: ($i / $col-count) * 100%;
    }
  }
}

@include breakpoint-min($lg) {
  @for $i from 1 through $col-count {
    .col-lg-#{$i} {
      flex: 0 0 ($i / $col-count) * 100%;
      max-width: ($i / $col-count) * 100%;
    }
  }

  @for $i from 1 through $col-count {
    .col-lg-offset-#{$i} {
      margin-left: ($i / $col-count) * 100%;
    }
  }
}

@include breakpoint-min($xl) {
  @for $i from 1 through $col-count {
    .col-xl-#{$i} {
      flex: 0 0 ($i / $col-count) * 100%;
      max-width: ($i / $col-count) * 100%;
    }
  }

  @for $i from 1 through $col-count {
    .col-xl-offset-#{$i} {
      margin-left: ($i / $col-count) * 100%;
    }
  }
}
