// fonts
$ns: 'Noto Sans', sans-serif;
$objectfit: "object-fit: cover;";
$icomoon: 'icomoon';
$rating: 'rating';

// colors
$indigo: #45378c;
$indigohover: #392875;
$lime: #aee100;
$limehover: #9BCA00;
$black: #252525;
$error: #db3232;
